@import url(https://fonts.googleapis.com/css?family=Signika+Negative:400,700);
html,body{
    background-color:darkcyan;
    font-family: 'Signika Negative', sans-serif;
}

.header{
    height: 75px;
    width: 100%;
    background:rgba(191, 255, 0, 0.447);    
}

.footer{
    color: #eeeeec;
    background: #010105;
    padding: 2px 5%;
    text-align: center;
}
.fraction{
    display:inline-flex;
    flex-direction: column;
}

#Question{
    font-size: 30px;
    color: antiquewhite;
    padding-right: 20px;

}
#start{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}